<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  
  <appSettings>
    <add key="BaseUri" value="http://jootu.asuscomm.com:8888/api/"/>
    <add key="Host" value="legal_case.jootu.tech"/>
    <add key="AppKey" value="base64:BxDXbecUfJwA22Y3yzJ4dngvnTPOwGfjwpsUKR/HDjM="/>
  </appSettings>
</configuration>
